parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method FilamentFaker\\\\Contracts\\\\Decorators\\\\ComponentDecorator\\:\\:getAcceptedFileTypes\\(\\)\\.$#"
			count: 1
			path: src/ComponentDataGenerator.php

		-
			message: "#^Call to an undefined method FilamentFaker\\\\Contracts\\\\Decorators\\\\ComponentDecorator\\:\\:getFormat\\(\\)\\.$#"
			count: 1
			path: src/ComponentDataGenerator.php

		-
			message: "#^Call to an undefined method FilamentFaker\\\\Contracts\\\\Decorators\\\\ComponentDecorator\\:\\:getOptions\\(\\)\\.$#"
			count: 1
			path: src/ComponentDataGenerator.php

		-
			message: "#^Call to an undefined method FilamentFaker\\\\Contracts\\\\Decorators\\\\ComponentDecorator\\:\\:getSuggestions\\(\\)\\.$#"
			count: 1
			path: src/ComponentDataGenerator.php

		-
			message: "#^Call to an undefined method FilamentFaker\\\\Decorators\\\\Component\\:\\:evaluate\\(\\)\\.$#"
			count: 2
			path: src/Decorators/Component.php

		-
			message: "#^Call to an undefined method FilamentFaker\\\\Decorators\\\\Component\\:\\:getName\\(\\)\\.$#"
			count: 2
			path: src/Decorators/Component.php

		-
			message: "#^Call to an undefined method FilamentFaker\\\\Decorators\\\\Component\\:\\:getState\\(\\)\\.$#"
			count: 1
			path: src/Decorators/Component.php

		-
			message: "#^Call to an undefined method FilamentFaker\\\\Decorators\\\\Component\\:\\:state\\(\\)\\.$#"
			count: 1
			path: src/Decorators/Component.php

		-
			message: "#^Call to an undefined method Filament\\\\Forms\\\\Components\\\\Field\\:\\:getSearchResults\\(\\)\\.$#"
			count: 1
			path: src/Decorators/Component.php

		-
			message: "#^Parameter \\#1 \\$component of method FilamentFaker\\\\Support\\\\FakerFactory\\:\\:component\\(\\) expects Filament\\\\Forms\\\\Components\\\\Field, \\$this\\(FilamentFaker\\\\FilamentFakerServiceProvider\\) given\\.$#"
			count: 1
			path: src/FilamentFakerServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$form of method FilamentFaker\\\\Support\\\\FakerFactory\\:\\:form\\(\\) expects Filament\\\\Forms\\\\Form, \\$this\\(FilamentFaker\\\\FilamentFakerServiceProvider\\) given\\.$#"
			count: 1
			path: src/FilamentFakerServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$resource of method FilamentFaker\\\\Support\\\\FakerFactory\\:\\:resource\\(\\) expects class\\-string\\<Filament\\\\Resources\\\\Resource\\>\\|Filament\\\\Resources\\\\Resource, class\\-string\\<static\\(FilamentFaker\\\\FilamentFakerServiceProvider\\)\\> given\\.$#"
			count: 1
			path: src/FilamentFakerServiceProvider.php

		-
			message: "#^Dead catch \\- InvalidArgumentException is never thrown in the try block\\.$#"
			count: 1
			path: src/Support/Faker.php
