includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Call to an undefined method Filament\\Forms\\Components\\Builder\\Block::faker\(\)#'
