includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Call to an undefined method FilamentFaker\\FilamentFakerServiceProvider::faker\(\)#'
        - '#Call to an undefined static method static\(FilamentFaker\\FilamentFakerServiceProvider\)::faker\(\)#'
        - '#Call to an undefined static method static\(FilamentFaker\\FilamentFakerServiceProvider\)::make\(\)#'
